<%= render('layouts/errors', :object => @review) %>

<%= form_for [@product, @review] do |f| %>
  <%= f.label :rating %>
  <%= f.number_field :rating %>

  <%= f.label :username %>
  <%= f.collection_select :user_id, User.order(:username),:id, :username %>

  <%= f.label :review %>
  <%= f.text_field :review %>

  <p><%= f.submit %></p>
<% end %>
