<h1><%= @product.name %></h1>
<p><%= @product.description %></p>

<h2>Write a review:</h2>

<h3>Your review should be minimum 50 characters, maximum 250.</h3>
<h3>Your rating should be a number: 1, 2, 3, 4 or 5</h3>
<%= render "layouts/errors", :object => @review %>

<%= render "form" %>

 &Qopf; <span><%= link_to "Back", products_path %></span>  &Qopf;
